@import "tailwindcss";

@theme {
  --color-background:#2E73B8;
  --color-background-from:#6c85a3;
  --color-highlights:#DDE3EA;
  --color-hover: #BFCAD6;
}

.swiper-pagination {
  position: absolute; 
  bottom: 10px;        
  left: 50%;
  transform: translateX(-50%);
  display: flex !important;
  justify-content: center !important;
  gap: 6px !important;
  pointer-events: auto;
  z-index: 10; 
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #DDE3EA;
  border-radius: 9999px;
  transition: all 0.3s;
}

.swiper-pagination-bullet-active {
  width: 15px;
  height: 15px;
  background-color: #157EE2;
}